<%- include("templates/header") %>

<div class="home-title">
    <h1>Hi, <%= username %>!</h1>
</div>

<div class="option-btns">
    <div class="upload-btn">
        <button id="create-event">Create An Event</button>
    </div>
</div>

<div id="whole-calendar">
    <div id="container">
        <div id="header">
            <div id="monthDisplay"></div>
            <div>
                <button id="backButton" class="calendar-button">Back</button>
                <button id="nextButton" class="calendar-button">Next</button>
            </div>
        </div>

        <div id="weekdays">
            <div>Sunday</div>
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
        </div>

        <div id="calendar"></div>
    </div>

    <div id="newEventModal">
        <h2>New Event</h2>
        <form action="/save-event" method="POST">
            <input name="eventTitleInput" id="eventTitleInput" placeholder="Event Title"/>
            <label for="birthday">Event Date:</label>
            <input type="date" id="event_date" name="event_date">
            <input type="time" id="event_time" name="event_time">
            <button id="saveButton" class="calendar-button">Save</button>
        </form>
        <button id="cancelButton" class="calendar-button">Cancel</button>
    </div>

    <div id="deleteEventModal">
        <h2>Event</h2>

        <p id="eventText"></p>

        <form action="/delete-event">
            <button id="deleteButton" class="calendar-button">Delete</button>
        </form>
        <button id="closeButton" class="calendar-button">Close</button>
    </div>

    <div id="modalBackDrop"></div>

    <script src="/scripts/calendar.js">
        
    </script>
</div>

<%- include("templates/footer") %>